@using BlogSitem.Models.Sınıf
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bloglar</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Baslık</td>
            <td><a class="btn btn-danger" href="/Admin/BlogSil/@x.Id">Sil</a></td>
            <td><a class="btn btn-success" href="/Admin/BlogGetir/@x.Id">Güncelle</a></td>
        </tr>


        
    }

</table>
<a href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Blog Ekle</a>

